
{% extends 'student/basic.html' %}
{% block title%}Complaint{% endblock %}

{% block css %}
           .jumbotron{
    margin:2% 15% 0% 15%;
  }
  .required {
  color: red;
  }

 {% endblock %}

{% block body %}

 <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        
          <div  class="col-md-10 col-xs-10 col-sm-10 ">
          <br/>
          <h6 style= "text-align:center" ><font color="red"> All fields are required</font> </h6>
          </div>
          <div class="col-md-1 col-xs-1 col-sm-1">
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-xs-1 col-sm-1"></div>
          <div class="col-md-10 col-xs-10 col-sm-10">

          <form method="POST" action="/student/change_password/">
            {% csrf_token %}

            <div class="form-group">
              <label for="password">Current Password <span class="required">*</span></label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter Current Password" required>                                           
            </div>
              <div class="form-group">
              <label for="n_password1">New Password <span class="required">*</span></label>
              <input type="password" class="form-control" id="n_password1" name="n_password1" placeholder="Enter New Password" required>                                           
            </div>
            <div class="form-group">
              <label for="n_password2">Re-enter New Password <span class="required">*</span></label>
              <input type="password" class="form-control" id="n_password2" name="n_password2" placeholder="Re-enter New Password" required>                                           
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br>
          </div>
          <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>
      </div>
 {% endblock %}
 {% block js %}
<script>
{% if c_pass %}
alert('Incorrect Password. Please Enter Correct Current Password');
localStorage.clear();
document.location = "/student/change_password";
{% endif %}

  </script>
  {% endblock %}
