{% extends 'student/basic.html' %}
{% block title%}HM{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
{% endblock %}

{% block body %}
{% load static %}
{% if user.is_authenticated %}
{{user.username}}
{{user.pk}}
{{user.userprofile.hostel}}


  {% else %}
<p>login fiurst</p>
{% endif%}
{% endblock %} 

 

{% block js %}
<script>

{% if pass_set %}
alert('Password Change Successfully');
localStorage.clear();
document.location = "/student";
{% endif %}
</script>
{% endblock %}