{% extends 'student/basic.html' %}
{% block title%}HM{% endblock %}

{% block css %}
         
 {% endblock %}

{% block body %}
{% load static %}
{% if user.is_authenticated %}
{{user.username}}
{{user.userprofile.hostel}}


{% else %}
<p>no user</p>
{% for complaint in complaint_number %}
    {{ complaint.title}}
    {{ complaint.date_time}}
    {{ complaint.category }}
    {{ complaint.description }}
{% endfor %}

{% endif %}


 {% endblock %}
 {% block js %}
<script>

  </script>
  {% endblock %}