{% extends 'student/basic.html' %}
{% block title%}Applications for Complaint{% endblock %}

{% block css %}
    .jumbotron{
    margin:2% 15% 0% 15%;
  }
  .required {
  color: red;
  }
{% endblock %}

{% block nav %} 
 {% if user.is_authenticated %}
 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
   {% else %}
 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
 {% endif %}
{% endblock %} 

{% block body %}

<div class="row">
  <div  class="col-md-10 col-xs-10 col-sm-10">
    <br/>
    <h2>Complaints</h2>
    <br/>
    <div class="modal fade" id="complaint" tabindex="-1" role="dialog" aria-labelledby="complaint" aria-hidden="true"></div>
      <table id="complaint" class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Room No.</th>
            <th scope="col">Category</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for complaint in sc %}
          <tr>
            <td>{{complaint.room}}</td>
            <td>{{complaint.category}}</td>
            <td>{{complaint.title}}</td>
            <td>{{complaint.description}}</td>
            <td>{{complaint.status}}</td>
          </tr>
          {% endfor %}
        </tbody>   
      </table>  
   </div>
  </div>
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div> 

{% endblock %}

{% block js %}
<script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</script>
  {% endblock %}